@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

html {
  overflow-y: scroll;
}

body.normal{
  background: url("nihonchizu_area.png") center center / cover no-repeat fixed;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  font-size: 2em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body.body_kessan{
  background-color: white;
}

td.waku {
  border: 5px solid rgb(170,145,120);
  border-radius: 10px;
  color : rgb(16, 16, 16);
  padding: 2px;
  vertical-align: text-top;
  display: inline-block;
}

.wakuback {
  text-align:center;
  border: 5px solid rgb(170,155,130);
  background-color: rgb(225,200,160);
  border-radius: 10px;
  padding: 10px;
  margin: 3px 0px;
  display: inline-block;
}


th, td{
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding: 2px 10px; 
}

td.ranking{
  font-size: 1.8em;
  padding: 2px 10px; 
}

td.sum {
  border-top: solid 2px black;
}

td.sum_dummy {
  border-top: solid 2px rgba(0, 0, 0,0);
}

td>input.showbtn {
  font-size: 1em;
}

input, button {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 1em;
}

a { text-decoration: none;
}

.h150 {
  height: 150px;
}

.message {
  border: 5px solid rgb(170,145,120);
  border-radius: 10px;
  color : rgb(16, 16, 16);
  padding: 20px;
  width: 100%;
  margin: 3px 0px;
  vertical-align: text-top;
  display: inline-block;
}

.blue {
  border: 5px solid rgb(10,70,160);
  background-color: rgb(0,120,255);
  color:white;
  border-radius: 10px;
  padding: 20px;
  vertical-align: text-top;
  display: inline-block;
}

.blue>input {
  background-color: rgb(0,90,190);
  color:white;
  border-radius: 10px;
}

.tweet {
  border: 5px solid rgb(29,161,242);
  background-color: rgb(29,161,242);
  border-radius: 10px;
  color : rgb(242, 242, 242);
  padding: 20px;
  vertical-align: text-top;
  display: inline-block;
}

.waku_ranking {
  width: 980px;
  border: 2px solid rgb(200,160,150);
  border-radius: 10px;
  margin: 2px;
  color : rgb(16, 16, 16);
  padding: 2px;
  margin: 3px 0px;
  vertical-align: text-top;
  display: inline-block;
  box-shadow: 0px 2px rgb(175,145,125);
}

.transparent {
  border: 5px solid rgba(0,0,0,100);
  background-color: rgba(0,0,0,0);
  border-radius: 10px;
  color : rgb(242, 242, 242);
  padding: 20px;
  vertical-align: bottom;
  display: inline-block;
}

.cell-link {
	padding: 0;
}

.cell-link a{
	height: 100%;
	padding: 2px 5px;
	display: flex;
	align-items: center;
}

div.right {
  text-align: right;
  margin-left:auto;
}


div.sizefix{
  width: 900px;
  height: 150px;
}

div.w400 {
  width: 400px;
}

div.right {
  display: inline;
  text-align: right;  
}

div.left {
  display: inline;
  text-align: left;  
}

div.clickable, input.clickable, td.clickable{
  border-radius: 10px;
  padding: 15px;
  vertical-align: text-top;
  display: inline-block;
  position: relative;
  color : rgb(215, 251, 251);
  border: 10px solid rgb(212, 86, 134);
  background-color: rgb(214, 139, 195);
  border-style: outset;
}


div.non-clickable, td.non-clickable{
  position: relative;
  background-color: rgba(255,255,255,0.8);
}

.selected{
  border: 5px solid rgb(170,145,120);
  background-color: rgb(138, 240, 55);
  border-radius: 10px;
  color : rgb(16, 16, 16);
  padding: 20px;
  vertical-align: text-top;
  display: inline-block;
}

img {
  float: left;
}

.dote {
  image-rendering: pixelated;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.fujisan{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 0;
}

.kessan{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 99;
  display: none;
}

.box_parent {
  display: flex;
  justify-content: space-between;
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.box_child {
  vertical-align: top;
  text-align: left;
  padding: 5px;
}

.box_gatya {
  width: 600px;
  height: 150px;
}

.box_kessan {
  width: 300px;
  height: 150px;
}

.sode {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: white;
  height: 100px;
  width: 100px;
  position: fixed;
  z-index: 99;
}

.train {
  position: fixed;
}

blockquote.ranking {
  margin:5px 50px;
  font-size:1.8em;
}

td.item {
  width: 400px;
}

td.station {
  width: 400px;
}

td.kanji {
  width: 200px;
  text-align:right;
}

.player {
  margin:5px 10px;
  text-align: left;
  float: left;
}

.score {
  margin:5px 10px;
  text-align: right;
}

.twitter {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

img.half{
  width: 50%;
  height: 50%;
}