<html>
<head>
<!--
<meta charset="utf-8">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@mo256man">
<meta name="twitter:url" content="https://momogacha.herokuapp.com/">
<meta name="twitter:title" content="桃鉄ガチャ">
<meta name="twitter:description" content="ゴッドカードで物件を3件もらおう">
<meta name="twitter:image" content="https://momogacha.herokuapp.com/static/momo_icon.png">
-->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@mo256man">
<meta property="og:url" content="https://momogacha.herokuapp.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="桃鉄ガチャ">
<meta property="og:site_name" content="桃鉄ガチャ">
<meta property="og:description" content="ゴッドカードで物件を3件もらおう">
<meta property="og:image" content="https://momogacha.herokuapp.com/static/momo_icon.png">
<link rel="stylesheet" href="static/style.css">
<title>桃鉄ガチャ</title>
</head>
<body class="normal">
<div class="mo"><a href="/omake"><img src="static/mo.png" class="mo"></a></div>
<h1>桃鉄ガチャ</h1><br>
<form action="/register_name" method="post">
<div class="blue"><input type="text" name="name" value={{name}}>社長</div><br>
<br><br>
<input type="submit" name="btn_confirm" value="　　　完了！　　　" class="waku1 clickable">
</form>
<br>
<div class="box_parent">
  <div class="message non-clickable">
    <img src="static/qr2line.png">　LINEでも遊べます
  </div>
</div>
</body>
</html>