<html>
<head>
<link rel="stylesheet" href="static/style.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body class="body_kessan">
<img id="fujisan" class="fujisan" src="../static/fujisan.png">
<img id="kessan" class="kessan" src="../static/kessan.png">
<div id="sodeL" class="sode"></div>
<div id="sodeR" class="sode"></div>
<div id="train" class="train"><img src="../static/train.png"></div>

<script>
$(".body_kessan").click(function() {
    window.location.href = "/ranking?daily=False";
});

let winW = window.innerWidth;
let winH = window.innerHeight;
let fujisanH = $("#fujisan").height();
let fujisanW = $("#fujisan").width();
let trainW = $("#train").width();
let trainH = $("#train").height();
let trainT = fujisanH - 150;

$("#sodeL").css({
    "height": fujisanH,
    "marginLeft": -100,
    "width" : 200
});

$("#sodeR").css({
    "height": fujisanH,
    "marginLeft": winW-100,
    "width" : 200
});

$("#kessan").delay(1500).queue(function(){
    $(this).css({display:"block"}).dequeue();
}).animate({t: 1},{
    duration: 900,
    step: function(t) {
        $(this).css({transform:"scale(" + (20+80*t)/100 + ")"});
        $(this).css({marginTop:(-800*(t-0.6)**2+200) + "px"});
    }
,}).animate({t: 10},{
    duration: 100,
    step: function(t) {
        $(this).css({transform:"scale("+ (100-20*t*0.1)/100 +")"});
    }
,});
$("#train").animate({t: 1},{
    duration: 5000,
    queue: false,
    step: function(t) {
        $(this).css({marginTop: trainT + "px"});
        $(this).css({marginLeft: (1.2*winW*(1-t) - 1.2*(winW+trainW)*t) + "px"});
    }
});
$('#train').fadeOut(6000,function(){
    window.location.href = "/ranking?daily=True";
});
</script>
</body>
</html>
