<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/style.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<title>桃鉄ガチャ</title>
</head>
<body class="normal">
<h1>桃鉄ガチャ</h1>
<div class="wakuback">
    <div style="float: left">
        <div class="blue">{{uname}}</div>
    </div>
    <div style="text-align: right">
    </div>
</div>
<div class="box_parent">
    <div class="message non-clickable" style="height: 150px;">
        <table>
        <tr><td rowspan="4"><img src="static/god.png"></td>
        <td>ゴッドカード</td></tr>
        {% if items_left >= 3 %}
        <tr><td> 「汝に物件を３つ与えよう」</td></tr>
        <tr><td></td></tr>
        {% else %}
        <tr><td> 「汝に物件を３つ与えよう</td></tr>
        <tr><td>　　…と思ったが、もう品切れだ」</td></tr>
        {% endif %}
        <tr><td class="sum_dummy">　</td></tr>
        </table>
    </div>
</div>
<br>
<div class="box_parent">
    {% if items_left >= 3 %}
    <a href="/dice">
    <div class="box_child clickable box_gatya">
        <img src="static/dice.png"><br>
        　サイコロを振ってください
    </div>
    </a>
    {% else %}
    <div class="box_child sorry non-clickable box_gatya">
        <img src="static/ekiin.png"><br>
        　品切れです<br>
        　明日になればリセットされます<br>
    </div>
    {% endif %}

    <a href="/ranking">
        <div class="box_child clickable box_kessan">
            <img src="static/soroban.png"><br>　決算
        </div>
    </a>
</div>
<br>
<a href="/reset_items" ><div class="waku clickable">物件リセット</div></a><br>
<a href="/reset_score" ><div class="waku clickable">ランキングリセット</div></a><br>
<a href="/refresh_score" ><div class="waku clickable">デモランキングの日付を今日にする</div></a><br>
<a href="/output_score" ><div class="waku clickable">ランキング出力</div></a><br>
</body>
</html>