<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/style.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<title>桃鉄ガチャ</title>
</head>
<body class="normal">
<h1>桃鉄ガチャ</h1>
<div class="wakuback">
  <a href="/"><div class="clickable">戻る</div></a>
</div>
<div class="wakuback">
  <div class="waku_ranking non-clickable">
    <table class="omake">
      <tr><td>作った人</td><td><img src="static/mo.png" class="mo"></td></tr>
      <tr><td>元ネタ</td><td><a href="https://www.konami.com/games/momotetsu/teiban/" target="_blank">桃太郎電鉄 ～昭和 平成 令和も定番！～</a></td></tr>
      <tr><td>インスパイヤ元</td><td><a href="https://saizeriya-1000yen.marusho.io/" target="_blank">サイゼリヤ1000円ガチャ</a></td></tr>
      <tr><td>イラスト</td><td><a href="https://www.irasutoya.com/" target="_blank">いらすとや</a></td></tr>
      <tr><td>丸ゴシックフォント</td><td><a href="https://fonts.google.com/specimen/Kosugi+Maru?preview.text_type=custom&preview.text=桃鉄ガチャ%0A%0A">Kosugi Maru</a></td></tr>
      <tr><td>物件データ</td><td><a href="https://gamepedia.jp/momotetsu-reiwa/archives/3743" target="_blank">攻略大百科</a> に自分でホノルルを追加</td></tr>
      <tr><td>PaaS</td><td>Heroku</td></tr>
    </table>
  </div>
</div>
</body>
</html>