<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/style.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<title>桃鉄ガチャ</title>
</head>
<body class="normal">
<h1>桃鉄ガチャ</h1>
<div class="wakuback">
    <div class="blue">{{uname}}</div>
    <a href="/main"><div class="clickable">戻る</div></a>
    　　<a href="/ranking?daily=True"><div id="s1">デイリー</div></a>
    <a href="/ranking?daily=False"><div id="s2">通期</div></a>
</div>
<div class="wakuback" style="width: 994px;">
  {% for record in results %}
    <div class="waku_ranking non-clickable">
      <p class="player">&#x1f351; {{loop.index}}位　{{record["uname"]}}　　{{record["date"]}}</p>
      <p class="score">{{record["kanji"]}}円</p><p></p>
      <blockquote class="ranking">
        <img src="/static/plus.png" id="b{{loop.index}}" onclick="clickBtn('{{loop.index}}')">
        <div id="p{{loop.index}}" style="display: none;">
          <table>
            {% for row in record["table"] %}
              <tr><td class="ranking item">{{row[0]}}</td><td class="ranking station">{{row[1]}}（{{row[2]}}）</td><td class="ranking kanji">{{row[3]}}</td></tr>
            {% endfor %}
          </table>
        </div>
      </blockquote>
    </div>
  {% endfor %}
</div>
<br>
<br>
<script>
window.onload = function () {
    if (1=={{isDaily}}) {
        $("#s1").addClass("selected");
        $("#s2").addClass("clickable");
    } else {
        $("#s1").addClass("clickable");
        $("#s2").addClass("selected");
    }
}

function clickBtn(btn){
    const area = $("#p"+btn);
    const img =  $("#b"+btn);

    if (area.css("display")=="block") {
        img.attr("src", "static/plus.png");
    } else {
        img.attr("src", "static/minus.png");
    }
    area.toggle();
}
</script>
</body>
</html>